<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>用户发行数据信息查询</title>
    <link href="/manage/static/layui/css/layui.css" rel="stylesheet">
    <link href="/manage/static/css/common.css" rel="stylesheet">
    <script src="/manage/static/layui/layui.js"></script>
    <script src="/manage/static/layui/layui_exts/excel.js"></script>
    <script src="/manage/static/js/dataquery/userhairpin.js" th:inline="none"></script>
    <link href="/manage/static/layui/css/layui.css" media="all" rel="stylesheet">
    <style type="text/css">
        .layui-layout-admin .layui-body {
            position: fixed;
            top: 0px;
            bottom: 0px;
            margin-left: -200px;
        }
        .layui-input-inline {
            width: 200px;
        }

        .layui-input-block {
            width: 190px;
        }

        .querydiv {
            margin-left: 20px;
        }
    </style>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //查询时间起（创建时间）
            laydate.render({
                elem: '#creatdate',
                type: 'date',
                range: '~',
                format: 'yyyy-MM-dd'
            });
            //查询时间止（截止时间）
            laydate.render({
                elem: '#modifydate',
                type: 'date',
                range: '~',
                format: 'yyyy-MM-dd'
            });
        });
    </script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--查询页面 -->
    <div class="layui-body">
        <!--面包屑-->
        <div style="margin: 10px">
            <span class="layui-breadcrumb">
                <a href="">数据查询</a>
                <a><cite>用户发行数据</cite></a>
            </span>
        </div>

        <!--查询条件-->
        <form action="" class="layui-form" id="queryform">
            <div class="layui-form-item" style="margin-top: 20px;">

                <div class="layui-inline">
                    <label class="layui-form-label">查询时间：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" id="creatdate" placeholder="开始时间~结束时间" type="text">
                    </div>
                </div>

                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">用户标识：</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input autocomplete="off" class="layui-input" id="useridquery" placeholder="可输入部分信息"-->
                               <!--type="text">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">用户名称：</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input autocomplete="off" class="layui-input" id="usernamequery" placeholder="可输入部分信息"-->
                               <!--type="text">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="layui-inline">
                    <label class="layui-form-label">机构编号：</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="chanelidquery" placeholder="输入完整信息"
                               type="text">
                    </div>
                </div>

                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">流水号：</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input autocomplete="off" class="layui-input" id="serialnumberquery" placeholder="可输入部分信息"-->
                               <!--type="text">-->
                    <!--</div>-->
                <!--</div>-->

                <div class="layui-inline">
                    <label class="layui-form-label">车牌号：</label>
                    <div class="layui-input-inline">
                        <input autocomplete="off" class="layui-input" id="querycarno" placeholder="可输入部分信息"
                               type="text">
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">发行状态：</label>
                    <div class="layui-input-block">
                        <select id="chanetype" lay-verify="required">
                            <option value=""></option>
                            <!--                            <option value="签约中">签约中</option>-->
                            <option value="0">签约完成</option>
                            <option value="2">签约失败</option>
                        </select>
                    </div>
                </div>

            </div>
        </form>


        <div class="querydiv">
            <button class="layui-btn" id="queryBtn" lay-filter="formDemo" lay-submit>查询</button>
            <!--导出按钮 或其他触发事件-->
            <button class="layui-btn" id="export" lay-filter="formDemo" lay-submit>导出报表</button>

        </div>

        <!--导出表 不展示-->
        <div style="display: none;">
            <table id="data_export">
            </table>
        </div>

        <!-- 数据展示 table框 -->
        <table class="layui-hide" id="orginfotable" lay-filter="orginfotable"></table>
    </div>
    <!--<div th:include="common/footer :: footer"></div>-->

</div>
</body>
</html>