<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为INFO-->
<configuration status="INFO">
    <properties>
        <property name="LOG_HOME">logs/manage</property>
        <property name="INFO_LOG_FILE_NAME">ETCManage_info</property>
        <property name="WARN_LOG_FILE_NAME">ETCManage_warn</property>
        <property name="ERROR_LOG_FILE_NAME">ETCManage_error</property>
    </properties>
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%blue{%d{yyyy-MM-dd HH:mm:ss:SSS}}||%highlight{%p}||%t||%l||%m%n"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="${LOG_HOME}/${INFO_LOG_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${INFO_LOG_FILE_NAME}.%d{yyyy-MM-dd}.log.gz">
            <Filters>
                <ThresholdFilter level="INFO"/>
                <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}||%p||%t||%c{1.}|| ||%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileWarn" fileName="${LOG_HOME}/${WARN_LOG_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${WARN_LOG_FILE_NAME}.%d{yyyy-MM-dd}.log.gz">
            <Filters>
                <ThresholdFilter level="WARN"/>
                <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="NEUTRAL"/>
            </Filters>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}||%p||%t||%c{1.}|| ||%m%n"/>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

        <RollingFile name="RollingFileError" fileName="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.log"
                     filePattern="${LOG_HOME}/${ERROR_LOG_FILE_NAME}.%d{yyyy-MM-dd}.log.gz">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss:SSS}||%p||%t||%c{1.}|| ||%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

    </appenders>

    <loggers>
        <logger name="org.hibernate" level="ERROR"></logger>
        <logger name="org.springframework" level="ERROR"></logger>
        <logger name="org.apache" level="ERROR"></logger>
        <logger name="com.netflix" level="ERROR"></logger>
        <logger name="org.mybatis" level="ERROR"></logger>
        <logger name="springfox.documentation" level="ERROR"></logger>
        <logger name="com.allinpay.mapper" level="debug"></logger>
        <!-- 可设置spring, mybatis等框架的日志输出级别-->
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFileInfo"/>
            <appender-ref ref="RollingFileWarn"/>
            <appender-ref ref="RollingFileError"/>
        </root>
    </loggers>

</configuration>
