<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>电子凭证查询</title>
    <link href="/manage/static/layui/css/layui.css" rel="stylesheet">
    <link href="/manage/static/css/common.css" rel="stylesheet">
    <script src="/manage/static/layui/layui.js"></script>
    <script src="/manage/static/layui/layui_exts/excel.js"></script>
    <script src="/manage/static/js/hzcc/credentials.js" th:inline="none"></script>
    <link href="/manage/static/layui/css/layui.css" media="all" rel="stylesheet">

    <style type="text/css">
        .layui-table-cell{
            height:36px;
            line-height: 36px;
        }

    </style>
</head>
<script>
    function iframePrint(checkData){    //添加打印事件

        $("#trxIdDetail").val(checkData.trxId);
        $("#merchantInfoDetail").val(checkData.tlCustId);
        $("#merchantNameDetail").val(checkData.branchName);
        $("#branchNameDetail").val(checkData.branchName);
        $("#submitTimeDetail").val(checkData.payTime);
        $("#finishTimeDetail").val(checkData.updateTime);

        if(checkData.payType == 'VSP001'){
            $("#tradeTypeDetail").val("消费");
        }
        if(checkData.payType == 'VSP501'){
            $("#tradeTypeDetail").val("微信支付");
        }
        if(checkData.payType == 'VSP511'){
            $("#tradeTypeDetail").val("支付宝支付");
        }
        if(checkData.payType == 'VSP505'){
            $("#tradeTypeDetail").val("手机QQ支付");
        }
        if(checkData.payType == 'VSP551'){
            $("#tradeTypeDetail").val("银联扫码支付");
        }

        $("#tradeCountDetail").val(checkData.acct);

        if(checkData.payType == 'VSP001'){
            if('00' == checkData.acctType){
                $("#cardTypeDetail").val("借记卡");
            }
            if('01' == checkData.acctType){
                $("#cardTypeDetail").val("存折");
            }
            if('02' == checkData.acctType){
                $("#cardTypeDetail").val("信用卡");
            }
            if('03' == checkData.acctType){
                $("#cardTypeDetail").val("准贷记卡");
            }
            if('04' == checkData.acctType){
                $("#cardTypeDetail").val("预付费卡");
            }
            if('05' == checkData.acctType){
                $("#cardTypeDetail").val("境外卡");
            }
            if('99' == checkData.acctType){
                $("#cardTypeDetail").val("其他");
            }
        }else{
            if('02' == checkData.acctType){
                $("#cardTypeDetail").val("信用卡");
            }else if('' == checkData.acctType || checkData.acctType == null || checkData.acctType == undefined){
                $("#cardTypeDetail").val("");
            }else{
                $("#cardTypeDetail").val("借记卡");
            }
        }
        if(checkData.payStatus == '0000'){
            $("#statusDetail").val("成功");
        }

        $("#tradeAmountDetail").val(checkData.payAmount);
        $("#feeDetail").val(checkData.fee);
        $("#termNoDetail").val(checkData.termNo);
        $("#orderNoDetail").val(checkData.orderNo);
        var remark = "员工编号:"+checkData.employeeId+"#"+"员工姓名:"+checkData.employeeName+"#"
            +"客户名称:"+checkData.custName+"#"+"手机号码:"+checkData.custPhone;
        $("#remarkDetail").val(remark);

        window.print();
    }
</script>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--startprint1-->
    <h3 style="margin-left: 100px;margin-top: 10px;">订单详情</h3>
    <div>
        <img src="/manage/static/img/allinpaycredentails.png" style="width: 350px;height: 50px;margin-left: 280px;">
    </div>

    <!--详情表单-->
    <table class="layui-table" id="detailsForm" lay-filter="detailsFilter"
           style="margin-left: 50px;margin-right: 50px; text-align: center;width: 800px;table-layout:fixed;">
        <tbody>
        <colgroup>
            <col width="100">
            <col width="250">
            <col width="100">
            <col width="250">
        </colgroup>
        <tr class="layui-table-cell">
            <td >交易单号</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="trxIdDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>商户号</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="merchantInfoDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>商户名称</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="merchantNameDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>门店名称</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="branchNameDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>提交时间</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="submitTimeDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>完成时间</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="finishTimeDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>交易类型</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="tradeTypeDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>交易账号</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="tradeCountDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>卡类型</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="cardTypeDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>处理状态</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="statusDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>交易金额(元)</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="tradeAmountDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>手续费</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="feeDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td>终端号</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="termNoDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
            <td>订单号</td>
            <td>
                <input class="layui-input" disabled="disabled"  id="orderNoDetail"  style="height: auto; border: none;font-size: 5px;"  type="text">
            </td>
        </tr>
        <tr>
            <td >备注</td>
            <td colspan="3">
                <input class="layui-input" disabled="disabled"  id="remarkDetail"  style="height: auto; border: none; font-size: 5px;"  type="text">
            </td>
        </tr>
        </tbody>
    </table>
    <!--打印内容结束-->
    <!--endprint1-->
</div>
</body>

</html>
