<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allinpay.mapper.QueryMapper">

    <!-- 机构信息查询-->
    <resultMap id="BaseResultMap" type="com.allinpay.entity.OrgQueryBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR"/>
        <result column="PARTNER_TYPE" property="partnerType" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE_NO" property="businessLicenceNo" jdbcType="VARCHAR"/>
        <result column="RANK" property="rank" jdbcType="NUMERIC"/>
        <result column="SALER" property="saler" jdbcType="VARCHAR"/>
        <result column="LEGAL_NAME" property="legalName" jdbcType="VARCHAR"/>
        <result column="LEGAL_ID" property="legalId" jdbcType="VARCHAR"/>
        <result column="LEGAL_PHONE" property="legalPhone" jdbcType="VARCHAR"/>
        <result column="CONTACTOR" property="contactor" jdbcType="VARCHAR"/>
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="SYS_USER" property="sysUser" jdbcType="VARCHAR"/>
        <result column="PARTNER_ADDRESS" property="partnerAddress" jdbcType="VARCHAR"/>
        <result column="LICENSE" property="license" jdbcType="VARCHAR"/>
        <result column="ID_FRONT" property="idFront" jdbcType="VARCHAR"/>
        <result column="ID_BACK" property="idBack" jdbcType="VARCHAR"/>
        <result column="AGREEMENT" property="agreement" jdbcType="VARCHAR"/>
        <result column="CREATE_TIME" property="createTimeX" jdbcType="VARCHAR"/>
        <result column="MODIFY_TIME" property="modifyTimeX" jdbcType="VARCHAR"/>
        <result column="URL" property="url" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryOrgInfo"  resultMap="BaseResultMap" parameterType="com.allinpay.entity.OrgQueryVo">
        select parinfo.PARTNER_ID,parinfo.PARTNER_NAME,
        parinfo.PARTNER_TYPE,
        parinfo.BUSINESS_LICENCE_NO,parinfo.RANK,parinfo.SALER,parinfo.LEGAL_NAME,parinfo.LEGAL_ID,
        parinfo.LEGAL_PHONE,parinfo.CONTACTOR,parinfo.CONTACT_PHONE,parinfo.PARENT_ID,parstatus.status parstatus,
        parinfo.SYS_USER,parinfo.PARTNER_ADDRESS,parinfo.LICENSE,parinfo.ID_FRONT,parinfo.ID_BACK,parinfo.AGREEMENT,
        to_char(parinfo.CREATE_TIME,'yyyy-mm-dd HH24:mi:ss') CREATE_TIME,
        to_char(parinfo.MODIFY_TIME,'yyyy-mm-dd HH24:mi:ss') MODIFY_TIME,SECRET_KEY,paraud.FAIL_REASON,#{orgque.url} URL
        from T_ETC_PARTNER_INFO parinfo
        left join T_ETC_PARTNER_STATUS parstatus on parinfo.status = parstatus.DICT_ID
        left join T_ETC_PARTNER_AUDIT paraud on parinfo.partner_id = paraud.partner_id
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="orgque.partnerId != null and orgque.partnerId != ''">
                AND parinfo.PARTNER_ID =#{orgque.partnerId}
            </if>
            <if test="orgque.partnerName != null and orgque.partnerName != ''">
                AND parinfo.PARTNER_NAME like '%' || #{orgque.partnerName} || '%'
            </if>
            <if test="orgque.partnerType != null and orgque.partnerType != ''">
                AND parinfo.PARTNER_TYPE =#{orgque.partnerType}
            </if>
            <if test="orgque.sbstatus != null and orgque.sbstatus != ''">
                AND parinfo.STATUS in ${orgque.sbstatus}
            </if>
            <if test="orgque.status != null and orgque.status != ''">
                AND parinfo.STATUS =#{orgque.status}
            </if>
            <if test="orgque.parentId != null and orgque.parentId != ''">
                AND parinfo.PARENT_ID =#{orgque.parentId}
            </if>

            <if test="orgque.createTimeStart != null">
                AND parinfo.CREATE_TIME between #{orgque.createTimeStart} and #{orgque.createTimeEnd}
            </if>
            <if test="orgque.modifyTimeStart != null">
                AND parinfo.MODIFY_TIME between #{orgque.modifyTimeStart} and #{orgque.modifyTimeEnd}
            </if>
        </trim>
        order by parinfo.CREATE_TIME desc
    </select>

    <!--通行费纪录查询-->
    <resultMap id="PassageMoneyResultMap" type="com.allinpay.entity.PassageMoneyBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="AUTH_ID" property="authId" jdbcType="VARCHAR"/>
        <result column="AUTH_NAME" property="authName" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_NO" property="accountNo" jdbcType="VARCHAR"/>
        <result column="CAR_NO" property="carNo" jdbcType="VARCHAR"/>
        <!--        <result column="ORDERNO" property="orderNo" jdbcType="VARCHAR"/>-->
        <result column="TRANSE_TIME" property="transeTime" jdbcType="VARCHAR"/>
        <result column="AMOUNT" property="amount" jdbcType="VARCHAR"/>
        <result column="PASSAGEWAY" property="passageway" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="PASS_TIME" property="passTime" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryPassagemoney" resultMap="PassageMoneyResultMap" parameterType="com.allinpay.entity.PassageMoneyVo">
        select PARTNER_ID,
        AUTH_ID,
        case
          when length(AUTH_NAME) &lt;= 2 then substr(AUTH_NAME,'0','1') || '*'
          when length(AUTH_NAME) &gt; 2  then substr(AUTH_NAME,'0','1') || '*' || substr(AUTH_NAME,length(AUTH_NAME),length(AUTH_NAME)-1)
          else ''
            end AUTH_NAME,
        decode(ACCOUNT_NO,'','',substr(ACCOUNT_NO,'0','6') || '****' || substr(ACCOUNT_NO,length(ACCOUNT_NO)-3,length(ACCOUNT_NO))) ACCOUNT_NO,
        CAR_NO,
        AMOUNT,
        TRANSE_TIME,
        PASSAGEWAY,
        STATUS,
        PASS_TIME
        from T_ETC_TRANSIT passmo
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="passm.partnerId != null and passm.partnerId != ''">
                AND passmo.PARTNER_ID =#{passm.partnerId}
            </if>
            <if test="passm.license != null and passm.license != ''">
                AND passmo.CAR_NO like '%' || #{passm.license} || '%'
            </if>
            <if test="passm.startTime != null and passm.startTime != ''">
                AND passmo.TRANSE_TIME between #{passm.startTime} and #{passm.endTime}
            </if>
            <if test="passm.userPartnerId != null and passm.userPartnerId != ''">
                AND passmo.PARTNER_ID = #{passm.userPartnerId}
            </if>
        </trim>
        order by TRANSE_TIME desc
    </select>

    <!--发卡记录查询-->
    <resultMap id="UserhairMap" type="com.allinpay.entity.UserhairpinBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="AUTH_ID" property="authId" jdbcType="VARCHAR"/>
        <result column="AUTH_NAME" property="authName" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="VARCHAR"/>
        <result column="REQ_NO" property="orderNo" jdbcType="VARCHAR"/>
        <result column="REQ_TIME" property="reqtime" jdbcType="VARCHAR"/>
        <result column="ISSUE_STATUS" property="issuestatus" jdbcType="VARCHAR"/>
        <result column="CAR_NO" property="carno" jdbcType="VARCHAR"/>
        <result column="REAL_PHONE" property="realphone" jdbcType="VARCHAR"/>
        <result column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realname" jdbcType="VARCHAR"/>
        <result column="CARD_NO" property="cardno" jdbcType="VARCHAR"/>
        <result column="ISSUE_MSG" property="issuemsg" jdbcType="VARCHAR"/>
        <result column="FINISH_TIME" property="finishtime" jdbcType="VARCHAR"/>
        <result column="DELIVERY_METHOD" property="deliverymethod" jdbcType="VARCHAR"/>
        <result column="LICENSE_COLOR" property="licensecolor" jdbcType="VARCHAR"/>
        <result column="REFERER" property="referer" jdbcType="VARCHAR"/>
        <result column="SERVICE_ADDRESS" property="serviceaddress" jdbcType="VARCHAR"/>
        <result column="PARTNER_NAME" property="partnername" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryUserhairpin" resultMap="UserhairMap" parameterType="com.allinpay.entity.UserhairpinVo">
        select suerhair.PARTNER_ID,suerhair.AUTH_ID,suerhair.AUTH_NAME,
        decode(suerhair.REAL_PHONE,'','',
        (substr(suerhair.REAL_PHONE,'0','3') || '****' || substr(suerhair.REAL_PHONE,length(suerhair.REAL_PHONE)-3,length(suerhair.REAL_PHONE)))) REAL_PHONE,
        suerhair.REQ_NO,suerhair.REQ_TIME,
        case
        when suerhair.ISSUE_STATUS ='0' then '完成'
        when suerhair.ISSUE_STATUS ='2' then '失败'
        else ''
        end ISSUE_STATUS,
        suerhair.CAR_NO,
        decode(suerhair.CARD_NO,'','',substr(suerhair.CARD_NO,'0','6') || '****' || substr(suerhair.CARD_NO,length(suerhair.CARD_NO)-3,length(suerhair.CARD_NO))) CARD_NO,
        suerhair.PHONE,
        decode(suerhair.ID,'','',substr(suerhair.ID,'0','6')|| '****' || substr(suerhair.ID,length(suerhair.ID)-3,length(suerhair.ID))) ID,
        case
        when length(suerhair.REAL_NAME) &lt;= 2 then substr(suerhair.REAL_NAME,'0','1') || '*'
        when length(suerhair.REAL_NAME) &gt; 2  then substr(suerhair.REAL_NAME,'0','1') || '*' || substr(suerhair.REAL_NAME,length(suerhair.REAL_NAME),length(suerhair.REAL_NAME)-1)
        else ''
        end REAL_NAME,
        suerhair.ISSUE_MSG,
        suerhair.FINISH_TIME,
        case
        WHEN suerhair.DELIVERY_METHOD='1' then '快递'
        WHEN suerhair.DELIVERY_METHOD='2' then '自提'
        else ''
        end DELIVERY_METHOD,
        suerhair.LICENSE_COLOR,
        paruser.REFERER,
        paruser.SERVICE_ADDRESS,
        partner.PARTNER_NAME
        from T_ETC_ISSUE suerhair
        left join T_ETC_PARTNER_USER paruser on suerhair.auth_id = paruser.user_id
        left join T_ETC_PARTNER_INFO partner on suerhair.PARTNER_ID = partner.PARTNER_ID
        <trim prefix="WHERE" prefixOverrides="AND">
            ISSUE_STATUS ='0'
            <if test="usrh.authId != null and usrh.authId != ''">
                AND suerhair.AUTH_ID like '%' || #{usrh.authId} || '%'
            </if>
            <if test="usrh.partnerId != null and usrh.partnerId != ''">
                AND suerhair.PARTNER_ID = #{usrh.partnerId}
            </if>
            <if test="usrh.authName != null and usrh.authName != ''">
                AND suerhair.AUTH_NAME like '%' || #{usrh.authName} || '%'
            </if>
            <if test="usrh.orderNo != null and usrh.orderNo != ''">
                AND suerhair.REQ_NO like '%' || #{usrh.orderNo} || '%'
            </if>
            <if test="usrh.signsStatus != null and usrh.signsStatus != ''">
                AND suerhair.ISSUE_STATUS like '%' || #{usrh.signsStatus} || '%'
            </if>
            <if test="usrh.queryTimeStart != null and usrh.queryTimeStart != ''">
                AND suerhair.FINISH_TIME between #{usrh.queryTimeStart} and #{usrh.queryTimeEnd}
            </if>
            <if test="usrh.userPartnerId != null and usrh.userPartnerId != ''">
                and suerhair.PARTNER_ID = #{usrh.userPartnerId}
            </if>
            <if test="usrh.carNo != null and usrh.carNo != ''">
                and CAR_NO  like '%' ||  #{usrh.carNo} || '%'
            </if>
        </trim>
        order by FINISH_TIME desc
    </select>

    <!--机构信息冻结、解冻、注销-->
    <update id="blockOrg">
        update T_ETC_PARTNER_INFO
        set STATUS=#{orgque.status},MODIFY_TIME=sysdate,SYS_USER=#{orgque.sysUser}
        WHERE partner_id=#{orgque.partnerId}
    </update>
    <select id="selectNormalList" resultMap="BaseResultMap">
      select * from T_ETC_PARTNER_INFO where STATUS = 1
    </select>

    <!--合作银行obu激活信息查询-->
    <resultMap id="activationMap" type="com.allinpay.entity.ActivationBack">
        <id column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR"/>
        <result column="CAR_NO" property="carNo" jdbcType="VARCHAR"/>
        <result column="LICENSE_COLOR" property="licenseColor" jdbcType="VARCHAR"/>
        <result column="AUTH_ID" property="authId" jdbcType="VARCHAR"/>
        <result column="PHONE" property="phone" jdbcType="NUMERIC"/>
        <result column="AUTH_NAME" property="authName" jdbcType="VARCHAR"/>
        <result column="FINISH_TIME" property="finishTime" jdbcType="VARCHAR"/>
        <result column="OBU_ID" property="obuId" jdbcType="VARCHAR"/>
        <result column="OPEN_TIME" property="openTime" jdbcType="VARCHAR"/>
        <result column="CPU_ID" property="cpuId" jdbcType="VARCHAR"/>
        <result column="CPU_OPEN_TIME" property="cpuOpenTime" jdbcType="VARCHAR"/>
        <result column="OPEN_IS" property="openIs" jdbcType="VARCHAR"/>
        <result column="DELIVERY_METHOD" property="deliveryMethod" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="queryActivation" resultMap="activationMap" parameterType="com.allinpay.entity.ActivationVo">
      select actinfo.partner_id,
        actinfo.car_no,
       issinfo.license_color,
       actinfo.auth_id,
        decode(issinfo.REAL_PHONE,'','',
        (substr(issinfo.REAL_PHONE,'0','3') || '****' || substr(issinfo.REAL_PHONE,length(issinfo.REAL_PHONE)-3,length(issinfo.REAL_PHONE)))) phone,
        case
        when length(issinfo.REAL_NAME) &lt;= 2 then substr(issinfo.REAL_NAME,'0','1') || '*'
        when length(issinfo.REAL_NAME) &gt; 2  then substr(issinfo.REAL_NAME,'0','1') || '*' || substr(issinfo.REAL_NAME,length(issinfo.REAL_NAME),length(issinfo.REAL_NAME)-1)
        else ''
        end auth_name,
       issinfo.finish_time,
       actinfo.obu_id,
       actinfo.open_time,
       actinfo.cpu_id,
       actinfo.cpu_open_time,
       actinfo.open_is,
       case
         when issinfo.delivery_method='1' then '快递'
         when issinfo.delivery_method='2' then '自提'
         else ''
           end delivery_method
    from T_ETC_ACTIVATION actinfo
    left join T_ETC_ISSUE  issinfo on actinfo.partner_id = issinfo.partner_id
              and actinfo.car_no = issinfo.car_no
     <where>
         issinfo.ISSUE_STATUS='0'
         <if test="activation.queryTimeStart != null and activation.queryTimeStart != ''">
             AND actinfo.OPEN_TIME between #{activation.queryTimeStart} and #{activation.queryTimeEnd}
         </if>
         <if test="activation.partnerId != null and activation.partnerId != ''">
             and actinfo.PARTNER_ID = #{activation.partnerId}
         </if>
         <if test="activation.authId != null and activation.authId != ''">
             and  actinfo.auth_id like '%' || #{activation.authId} || '%'
         </if>
         <if test="activation.authName != null and activation.authName != ''">
             and  issinfo.REAL_NAME like '%' || #{activation.authName} || '%'
         </if>
         <if test="activation.obuId != null and activation.obuId != ''">
             and  actinfo.obu_id like '%' || #{activation.obuId} || '%'
         </if>
         <if test="activation.openIs != null and activation.openIs != ''">
             and  actinfo.open_is like '%' || #{activation.openIs} || '%'
         </if>
         <if test="activation.userPartnerId != null and activation.userPartnerId != ''">
             and actinfo.PARTNER_ID = #{activation.userPartnerId}
         </if>
     </where>
     order by issinfo.finish_time desc

    </select>
</mapper>